body{
    position: relative;
    max-height: 100px;
}

.container{
    width:90%;     
    margin:auto;     
    overflow:hidden; 
}

footer{
   
    position: fixed;
    bottom: 0;
    width: 100%; 
    padding: 10px 0;
    background-color: #101010; 
    color:#9d9d9d; 
    
}
